<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <form th:action="@{/boleta/grabar/REST}" th:object=${boleta} method="POST">
            <div class="card">
                <div class="card-header"></div>
                <h3>Boleta</h3>
                <div class="card-body"></div>
                    <div class="form-group">
                        <label>ID</label>
                        <input th:field="*{id}" type="text" class="form-control"/>
                    </div>
			
                    <div class="form-group">
                        <label>MONTO</label>
                        <input th:field="*{monto}" type="text" class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                        <label>FECHA</label>
                        <input th:field="*{fecha}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
    					<label for="tipoboleta">Tipo</label>
    					<select th:field="*{tipoboleta.id}" class="form-control" id="tipoboleta" name="tipoboleta">
        					<option value="1" th:text="Factura" th:selected="${boleta.tipoboleta.id == 1}"></option>
        					<option value="2" th:text="Boleta" th:selected="${boleta.tipoboleta.id == 2}"></option>
    					</select>
					</div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
               
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>