<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mantenedor Usuario API REST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a th:href="@{nuevo/REST}" class="btn btn-primary">Nuevo</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EDITAR/ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario:${usuarios}">
                <td th:text="${usuario.id}">${usuario.id}</td>
                <td th:text="${usuario.nombre}">${usuario.nombre}</td>
                <td th:text="${usuario.apellido}">${usuario.apellido}</td>
                <td>
                    <a class="btn btn-warning" th:href="@{/usuario/editar/REST/}+${usuario.id}" >Editar</a>
                    <a class="btn btn-danger"  th:onclick="fxJSeliminar([[${usuario.id}]])">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/fxJSfuncionesREST.js"></script>
</body>
</html>