<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mantenedor Boleta API REST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a th:href="@{nuevo/REST}" class="btn btn-primary">Nuevo</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>MONTO</th>
                <th>FECHA</th>
                <th>TIPO DE BOLETA</th>
                <th>EDITAR/ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="boleta:${boletas}" >
                <td th:text="${boleta.id}">${boleta.id}</td>
                <td th:text="${boleta.monto}">${boleta.monto}</td>
                <td th:text="${boleta.fecha}">${boleta.fecha}</td>
                <td th:text="${boleta.tipoboleta_id}">${boleta.tipoboleta_id}</td>
                <td>
                    <a class="btn btn-warning" th:href="@{/boleta/editar/REST/}+${boleta.id}" >Editar</a>
                    <a class="btn btn-danger"  th:onclick="fxJSeliminar([[${boleta.id}]])">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/fxJSfuncionesREST.js"></script>
</body>
</html>